
.main .inner {
    position: relative;
    width: 100%;
    height: 985px;
    margin: 0 auto;
    background: url('../data/img/exhibition/background.png') left top no-repeat;
    background-size: 100% 985px;
    overflow: hidden;
}

.company a{
    display: block;
}
.company a:hover {
    top: -15px;
    transform: translateZ(0);
    transform: translateY(-15px);
    /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.15); */
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.company {
    display: grid;
    position: absolute;
    width: auto;
    list-style: none;
    justify-self: end;
    transform:translate(-50%, -50%);
}
.company img{
    margin-inline: 20px;
}

.sdp {
    top: 82%;
    left: 50%;
    grid-template-columns: repeat(2,1fr);
    z-index: 4;
}
.sdp img{
    width: 270px;
}

.sd {
    top: 63%;
    left: 50%;
    grid-template-columns: repeat(4,1fr);
    z-index: 3;
}
.sd img{
    width: 220px;
}

.d {
    top: 47%;
    left: 50%;
    grid-template-columns: repeat(5,1fr);
    z-index: 2;
}
.d img{
    width: 195px;
}

.g {
    top: 32%;
    left: 50%;
    grid-template-columns: repeat(4,1fr);
    z-index: 1;
}
.g img{
    width: 170px;
}

.s {
    top: 19%;
    left: 50%;
    grid-template-columns: repeat(2,1fr);
    z-index: 0;
}
.s img{
    width: 160px;
    margin-inline: 100px;
}
