/*======== PC ========*/


.main .inner {
  position: relative;
  min-width: 1920px;
  height: 985px;
  margin: 0 auto;
  background: url('../data/img/home/bg_home.png') left top no-repeat;
  background-size: 100% 985px;
  overflow: hidden;
}

/*=== TOP ===*/
.top-entries{
  position: absolute;
  left: 50%;
  top: 27.2%;
  transform:translate(-50%, -50%);

  display: table; 
}

#main-flag {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

#video {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 5;
}

.side-flag{
  margin-top: 120px;
  display: inline-block;
}

#left-flag{
  margin-right: 40px;
}
#right-flag{
  margin-left: 40px;
}




/*=== MIDDLE ===*/
.mid-entries {
  width: auto;
  position: absolute;
  left: 50%;
  bottom: 35%;
  transform:translate(-50%, 50%);
}

.mid-entries img {
  margin-inline: -3px;
}
.mid-entries img:hover {
  /* -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80)); */
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
	-webkit-filter: drop-shadow(0px 0px 8rem rgb(251, 255, 0));
}

/*=== BOTTOM ===*/

/*======== MOBILE ========*/
@media screen and (max-width: 768px) and (min-width: 0) {
  body {
      background: #36353c;
  }
}
.mobile{
  margin-top: 3%;
}

.mobile .button-mobile {
  width: 100%;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 1%;
}

.container {
 height: auto;
 width: 40%;
 margin: auto;
}
*[data-animation="ripple"] {
 height: 100%;
 width: 100%;
 display: block;
 outline: none;
 padding: 20px;
 color: #fff;
 text-transform: uppercase;
 background: linear-gradient(135deg, #e570e7 0%,#79f1fc 100%);
 box-sizing: border-box;
 text-align: center;
 line-height: 14px;
 font-family: roboto, helvetica;
 font-weight: 200;
 letter-spacing: 1px;
 text-decoration: none;
 box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
 cursor: pointer;
/*border-radius: 50px;*/
 -webkit-tap-highlight-color: transparent;
 border-radius: 5px;
}

*[data-animation="ripple"]:focus {
 outline: none;
}

*[data-animation="ripple"]::selection {
 background: transparent;
 pointer-events: none;
}