.background {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../data/img/intro/bg.png');
}

.introBtn {
  width: 100%;
  text-align: center;
  margin: 0px auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform:translate(-50%, -50%);
}

.logo {
  text-align: center;
  margin: 0px auto;
  width: 15rem;
}

.introBtn a {
  display: inline-block;
  margin: 1rem;
}

.introBtn a img {
  width: 23rem;
}

.introBtn a:hover {
  top: -2rem;
  transform: translateZ(0);
  transform: translateY(-2rem);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}



@media (max-width: 768px) {
  .background{
    background-position: center center;
    background-repeat: no-repeat;
  }
}