body{
  overflow-y: scroll;
  overflow-x: scroll;
}

.background {
  position: relative;
  height: 100%;
  background-image: url('../data/img/intro/bg.png');
  background-size: cover;
  overflow: auto;
}
/* 
.logo {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;

  text-align: center;
  margin: 0px auto;
  margin-bottom: 50px;
}

.logo img {
  width: 30%;
} */

.introBtn {
  width: 100%;
  text-align: center;
  margin: 0px auto;
  position: absolute;
  top: 55%;
  left: 50%;
  transform:translate(-50%, -50%);
}

.introBtn a {
  display: inline-block;
  margin: 1rem;
}

.introBtn img {
  width: 35rem;
}

@media (max-width: 891px) {
  .introBtn img {
    width: 20rem;
  }
}

.introBtn a:hover {
  top: -2rem;
  transform: translateZ(0);
  transform: translateY(-2rem);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}