ul.introBtn,
ul.introBtn li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.introBtn {
}
ul.introBtn:after {
  clear: both;
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  content: ' ';
}
ul.introBtn > li {
  float: right;
}
ul.introBtn > li:first-child {
  float: left;
}
ul.introBtn a,
ul.introBtn img {
  display: block;
}
ul.introBtn a {
  position: relative;
  transition: 0.35s;
  top: 0;
  box-shadow: 0 0 30px 9px rgb(255 255 255 / 10%);
  zoom: 1;
  transition-duration: 800ms;
  transition-timing-function: ease;
}
ul.introBtn a:hover {
  top: -15px;
  transform: translateZ(0);
  transform: translateY(-15px);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}
ul.introBtn a:hover img {
}
