* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}

#pc {
  display: block;
}
#mobile {
  display: none;
}

@media screen and (max-width: 768px) and (min-width: 0) {
  #pc {
    display: none;
  }
  #mobile {
    display: block;
  }
}
