a:hover {
  color: #223166;
  font-weight: bold;
}

div.banner ul,
div.banner li {  
  margin: 0;
  padding: 0;
  list-style: none;
}

div.banner {
  position: relative;
  /* width: 100%; */
  /* min-width: 230px; */
  height: 70px;
  /* margin-top: 40px; */
  /* padding: 0 90px; */
  /* background-color: #fff; */
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); */
  text-align: center;
  font-size: 0;
  line-height: 0;
  bottom: -10%;
  display: block;
}

div.banner > ul {
  /* background-color: #fff; */
}

div.banner > ul:after {
  clear: both;
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  content: '';
}

div.banner > ul li {
  float: left;
  padding-left: 0px;
}

div.banner > ul li:first-child {
  padding-left: 0;
}

div.banner li a {
  display: table-cell;
  width: 170px;
  height: 70px;
  vertical-align: middle;
}

div.banner img {
  display: inline-block;
  width: 170px;
}
