
  
  .design-span{
    color: white;
    /* font-weight: 900; */
    background: #114577;
    padding: 5px 10px 3px 10px;
    border-radius: 10px;
    font-size: 1rem;
    white-space: nowrap;
  }

  .left-content{
    float: left;
    width: 70%;
    height: 100%;
    text-align: center;
  }

  .video-left-container{
    width: 60vw;
  }

  .sidebar{
    background-color: #d2deec;
    float: right;
    width: 30%;
    height: 100%;
    text-align: center;
  }
  
  /***** 1st PAGE *****/ 
  /* company modal */
  
  .company-logo{
    width: 20%;
    margin-top: 20px;
  }
  
  #company-video{
    margin-top: 20px;
    width: 80%;
    height: 30%;
    margin-bottom: 20px;
  }
  
  .company-btn{
    display: inline-block;
    background-color: #114577;
    font: normal 600 calc(1rem + min(0.6vw, 0.6vh))  white;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 20px;
  }

  /***** 2nd PAGE *****/ 
  /* brochures modal */

  .brochures-content{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .brochures-grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .brochures-grid-item {
    padding: 8px;
    font-size: calc(.5rem + min(.8vw, .8vh));
    text-align: center;
    z-index: 12;
  }
  .brochures-grid-item > div{
    display: inline-block;
  }

  .brochures-download-btn{
    vertical-align: middle;
    line-height: calc(1.2rem + min(.8vw, .8vh));
    margin-top: -7px;
    background-color: #114577;
    color: #fff;
    font-weight: 500;
  }

  .brochures-preview{
    width: 100%;
  }
  
  /***** 3rd PAGE *****/  
  /* video modal */

  .video-grid-container{
    display: grid;
    grid-template-rows: auto;
    height: 100%;
  }
  .video-grid-item {
  }
  
  /***** 4th PAGE *****/  
  /* stamp event modal */

  /* DESCRIPTION AREA */
  .prize{
    background-color: #d2deec;
    
    display: inline-block;
    grid-template-columns: 4fr, 1fr;
    width: 100%;
    padding: 0 0 1% 0;
    vertical-align: middle;
  }
  .prize-description{
    width: 70%;
    height: 100%;
    float: left;
    margin-left: 2%;
    text-align: center;
  }
  
  .prize-description .text-subject{
    font-weight: 600;
    font-size: 1.7rem;
  }
  
  .prize-description .detail{
    margin-top: 0.9rem;
  }
  
  .prize-description .detail > div{
    display: inline-block;
    vertical-align: middle;
  }

  
  .prize-description .detail #howto-detail{
    text-align: left;
    margin-left: 5px;
  }
  
  .prize-description .detail #howto-detail #text3{
    font-weight: 600;
  }
  
  .prize-picture-grid{
    text-align: center; 
    margin-top: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .prize-picture-grid > div{
    margin: 5px;
  }
  .prize-picture img{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  
  /* LOGO/STAMP AREA */
  .logos{
    background-color: rgb(228, 228, 228);
    display: inline-block;
    width: 100%;
    height: 65%;
  }
  
  .grid-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  
  .grid-item {
    text-align: center;
    position: relative;
    margin: 5px;
  }
  
  .in-grid-item{
    position: absolute;
    left: 0;
    top: 0;
  }
  .grid-item .logo img{
    width: 100%;
  }
  
  .grid-item .stamp {
    width: 0%;
  }
  .grid-item .stamp.stamp-active{
    width: 100%;
  }
  .grid-item .stamp img{
    width: 50%;
  }