/*footer style*/
.footer {
    margin: 0 auto;
    background: #333;
    width: 100%;
}

.footer .biz-info {
    padding: 0.5vh 0 0.1vh;
    box-sizing: border-box;
    font-size: calc(0.5rem + .5vw);
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: 3vh;
}
.footer .copyright {
    background: #000;
    font-size: calc(0.4rem + .5vw);
    font-weight: 300; color: #fff;
    text-align: center;
    line-height: 5vh;
}