/*======== PC ========*/


.main .inner {
    position: relative;
    min-width: 1920px;
    height: 90vh;
    margin: 0 auto;
    background: url('/gics2021/data/img/ebooth/bg.png') left top no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.objects{
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform:translate(-50%, 0%);

  max-width: 1100px;
  width: 100%;
};

.center{
  position: relative;
}

#center_top{
  width: auto;
  position: absolute;
  left: 50%;
  bottom: 25%;
  transform:translate(-50%, 0%);
  z-index: 1;
}

#center_bottom{
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform:translate(-50%, 0%);
  z-index: 2;
}

.left_side{
  float: left;
  transform:translate(-75%, -12%);
}

.right_side{
  float: right;
  transform:translate(75%, 7%);
}

/*=== buttom ===*/
.bottom_button{
  position: absolute;
  left: 50%;
  bottom: 5%;
  
  place-items: center;
  color: #43425d;
  transform:translate(-50%, 0%);
}

.multi-button {
  border: 5px solid #43425d;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.multi-button button {
  border: 5px solid #43425d;
  background-color: white;
  border: none;
  margin: 0;
  padding: 1em 2em;
  font-weight: bold;
  outline: none;
  font-size: 1.5em;
  color: #43425d;
  width: 300px;
}

.multi-button button:hover{
  cursor: pointer;
  transition: 0.2s ease-in-out;
}


.active {
  background-color: #43425d !important;
  color: whitesmoke !important;
}