
.main .inner {
  position: relative;
  height: 90vh;
  margin: 0 auto;
  background: url('/gics2021/data/img/exhibition/background.png') left top no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  text-align: center;
}
.company {
  display: grid;
  position: absolute;
  list-style: none;
  /* justify-self: end; */
  transform:translate(-50%, 0%);
  left: 52%;
}

.rank img:hover,
.item img:hover {
  top: -2rem;
  transform: translateZ(0);
  transform: translateY(-1rem);
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.15); */
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.company .item img{
  margin-left: max(-3vw, -3vh);
  margin-right: max(-3vw, -3vh);
  cursor: pointer;
}
.rank {
  position: absolute;
  /* transform:translate(-50%, 0%); */
  right: 1%;
}


.company.sdp {
  bottom: 0%;
  grid-template-columns: repeat(2,1fr);
  z-index: 4;
  text-align: center;
  width: auto;
}

.company.sdp .item img{
  width: 28vw;
  max-width: 32vh;
}

.company.sd_1 {
  bottom: 23%;
  grid-template-columns: repeat(5,1fr);
  z-index: 3;
  width: auto;
}

.company.sd_2 {
  bottom: 41.2%;
  grid-template-columns: repeat(6,1fr);
  z-index: 2;
  width: auto;
}

.company.sd_1 .item img, .company.sd_2 .item img{
  width: 21vw;
  max-width: 29vh;
}

.company.d {
  bottom: 59.5%;
  grid-template-columns: repeat(4,1fr);
  z-index: 1;
  width: auto;
}
.company.d .item img{
  width: 18vw;
  max-width: 26vh;
}

.company.p {
  bottom: 75%;
  left: 52%;
  grid-template-columns: repeat(2,1fr);
  z-index: 0;
  width: auto;
}
.company.p li:nth-child(1) img{
  margin-right: 3vw;
}
.company.p li:nth-child(2) img{
  margin-left: 3vw;
}

.company.p .item img{
  width: 18vw;
  max-width: 24vh;
}


/* RANK TEXT */

.sdp.rank{
  bottom: 0%;
}
.sdp.rank img{
  width: 30vw;
  max-width: 70vh;
}

.sd.rank{
  bottom: 16%;
}
.sd.rank img{
  width: 21vw;
  max-width: 45vh;
}

.d.rank{
  bottom: 63.5%;
}
.d.rank img{
  width: 12vw;
  max-width: 25vh;
}

.p.rank{
  bottom: 80.5%;
}
.p.rank img{
  width: 10vw;
  max-width: 16vh;
}

.gs.rank{
  bottom: 90.5%;
}
.gs.rank img{
  width: 12vw;
  max-width: 22vh;
}
