
.main .inner {
  position: relative;
  height: 90vh;
  margin: 0 auto;
  background: url('/gics2021/data/img/exhibition/background.png') left top no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  text-align: center;
}

.company {
  display: grid;
  position: absolute;
  list-style: none;
  /* justify-self: end; */
  transform:translate(-50%, 0%);
  left: 52%;
}

.item img:hover {
  top: -2rem;
  transform: translateZ(0);
  transform: translateY(-1rem);
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.15); */
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.company .item img{
  margin-left: max(-3vw, -3vh);
  margin-right: max(-3vw, -3vh);
  cursor: pointer;
}

.company.sdp {
  bottom: 8%;
  grid-template-columns: repeat(2,1fr);
  z-index: 4;
  text-align: center;
  width: auto;
}

.company.sdp .item img{
  width: 30vw;
  max-width: 37vh;
}

.company.sd_1 {
  bottom: 36%;
  grid-template-columns: repeat(5,1fr);
  z-index: 3;
  width: auto;
}

.company.sd_2 {
  bottom: 53%;
  grid-template-columns: repeat(6,1fr);
  margin-left: 2vw;
  margin-right: 2vw;
  z-index: 2;
  width: auto;
}

.company.sd_1 .item img, .company.sd_2 .item img{
  width: 20vw;
  max-width: 26vh;
}

.company.d {
  bottom: 70.6%;
  grid-template-columns: repeat(4,1fr);
  z-index: 1;
  width: auto;
}
.company.d .item img{
  width: 17vw;
  max-width: 20vh;
}

.company.p {
  bottom: 84%;
  left: 52%;
  grid-template-columns: repeat(2,1fr);
  z-index: 0;
  width: auto;
}
.company.p li:nth-child(1) img{
  margin-right: 3vw;
}
.company.p li:nth-child(2) img{
  margin-left: 3vw;
}

.company.p .item img{
  width: 12vw;
  max-width: 15vh;
}


.bottom_button{
  position: absolute;
  left: 50%;
  bottom: 1%;
  display: inline-block;
  color: #114577;
  transform:translate(-50%, 0%);
  text-align: center;
}

.multi-button {
  border: 3px solid #114577;
  display: grid;
  width: 80vw;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
}

.multi-button div {
  background-color: white;
  font-weight: bold;
  font-size: calc(0.4rem + min(0.9vw, 0.9vh));
  color: #114577;
  height: 100%;
  line-height: 100%;
}


.multi-button div:hover{
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: #d2deec;
}
.multi-button a{
  padding: 1.5vh;
  display: block;
}


.active {
  background-color: #114577 !important;
  color: whitesmoke !important;
}
