
.main .inner {
    position: relative;
    height: 90vh;
    margin: 0 auto;
    background: url('/gics2021/data/img/exhibition/background.png') left top no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    text-align: center;
}
.company {
    display: grid;
    position: absolute;
    list-style: none;
    /* justify-self: end; */
    transform:translate(-50%, -50%);
}

.item img:hover {
    top: -2rem;
    transform: translateZ(0);
    transform: translateY(-1rem);
    /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.15); */
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
  }

.company img{
    margin-left: max(-3vw, -3vh);
    margin-right: max(-3vw, -3vh);
    cursor: pointer;
}


.sdp {
  top: 88%;
  left: 52%;
  grid-template-columns: repeat(2,1fr);
  z-index: 4;
  text-align: center;
  width: auto;
}
.sdp img{
  width: 28vw;
  max-width: 32vh;
}

.sd_1 {
  top: 67.2%;
  left: 52%;
  grid-template-columns: repeat(5,1fr);
  z-index: 3;
  width: auto;
}

.sd_2 {
  top: 49.5%;
  left: 52%;
  grid-template-columns: repeat(6,1fr);
  z-index: 2;
  width: auto;
}

.sd_1 img, .sd_2 img{
  width: 21vw;
  max-width: 29vh;
}

.d {
  top: 32.3%;
  left: 52%;
  grid-template-columns: repeat(4,1fr);
  z-index: 1;
  width: auto;
}
.d img{
  width: 18vw;
  max-width: 26vh;
}

.p {
  top: 17.5%;
  left: 52%;
  grid-template-columns: repeat(2,1fr);
  z-index: 0;
  width: auto;
}
.p li:nth-child(1) img{
  margin-right: 3vw;
}
.p li:nth-child(2) img{
  margin-left: 3vw;
}

.p img{
  width: 18vw;
  max-width: 24vh;
}