.main-content{
    display: block;
    margin-top: 7vh;
    text-align: center;
    width: 100%;
    height: 83vh;
}

.content{
    display: inline-block;
    text-align: left;
}


.title{
    display: block;
    line-height: calc(5rem + .2vw);
}

.title *{
    vertical-align: middle;
    /* transition: all 0.4s ease-in-out; */
}

.title img{
    width: calc(1.2rem + .5vw);
    margin-right: 1%;
}

.title span{
    font-size: calc(1rem + .2vw);
    font-weight: 900;
}

.history{
    display: block;
    width: 60vw;
    margin-bottom: 3vh;
    /* transition: all 0.4s ease-in-out; */
    max-width: 71vh;
}

.history img{
    width: 100%;
}
