.content{
    text-align: center;
}

.top-blank{
    height: 10vh;
}

.title{
    display: block;
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
    margin-bottom: 10vh;
    margin-right: 35vw;
}

.history{
    margin-bottom: 10vh;
}