/*======== PC ========*/

.main .inner {
  position: relative;
  height: 90vh;
  margin: 0 auto;
  background: url('/gics2021/data/img/index/bg_home.png') left top no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.shadow-filter a img:hover {
  /* -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80)); */
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
	-webkit-filter: drop-shadow(0px 0px 8rem rgb(251, 255, 0));
}


/*=== TOP ===*/
.top-entries{
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translate(-50%, -50%);
  width: 70vw;
  max-width: 115vh;
  display: table;
}

.top-entries div{
  display: table-cell;
}

.top-entries #main-flag{
  vertical-align: top;
  text-align: center;
  width: 68%;
}

#main-flag > img{
  margin-top: 2%;
  width: 95%;
}

#video {
  position: absolute;
  
  left: 67%;
  top: 38%;
  transform:translate(-50%, -50%);
  
  width: 25.5%;
  height: 49%;
  
  z-index: 5;
}

.side-flag{
  display: inline-block;
}

.side-flag img{
  width: 90%;
}

#left-flag, #left-flag img{
  float: left;
}

#right-flag, #right-flag img{
  float: right;
}

.mid-entries {
  position: absolute;
  left: 50%;
  bottom: 21%;
  transform:translate(-50%, 0%);

  width: 40vw;
  max-width: 80vh;

  display: table;
}

.mid-entries > div{
  display: table-cell;
}

.mid-entries > div img{
  width: 100%;
}

.mid-entries > div:nth-child(1) img{
  width: calc(100% + .3vh);
}

.mid-entries > div:nth-child(3) img{
  margin-left: -1px;
  width: calc(100% + .1vh);
}

/*=== BOTTOM ===*/

.bottom-entries{
  position: absolute;
  left: 50%;
  top: 86%;
  transform:translate(-50%, -50%);
  width: 70vw;
  max-width: 150vh;
  text-align: center;
}

.bottom-entries *{
  vertical-align: bottom;
}
.bottom-entries div{
  display: inline-block;
}

#main_icon{
  width: 50%;
  text-align: center;
}

#main_icon img{
  width: 50%;
}

.bottom-entry {
  position: relative;
  width: 15%;
}

.bottom-entry.info{
  float: left;
}

.bottom-entry.info .icon{
  position: absolute;
  left: 50%;
  transform:translate(-50%, -15%);
  width: 100%;
}

.bottom-entry.info .letter{
  position: absolute;
  left: 50%;
  
  transform: translate(-50%, 200%);
  width: 100%;
  
  z-index: 1;
}


.bottom-entry.award{
  float: right;
}

.bottom-entry.award .icon{
  position: absolute;
  left: 50%;
  transform:translate(-50%, -34%);
  width: 100%;
}

.bottom-entry.award .letter{
  position: absolute;
  left: 50%;
  
  transform: translate(-50%, 192%);
  width: 67%;
  
  z-index: 1;
}





/*======== MOBILE ========*/
@media screen and (max-width: 830px) and (min-width: 0) {
  body {
      background: #36353c;
  }
}


.mobile .button-mobile {
  width: 100%;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 1%;
}

.container {
 height: auto;
 width: 40%;
 margin: auto;
}
*[data-animation="ripple"] {
 height: 100%;
 width: 100%;
 display: block;
 outline: none;
 padding: 20px;
 color: #fff;
 text-transform: uppercase;
 background: linear-gradient(135deg, #e570e7 0%,#79f1fc 100%);
 box-sizing: border-box;
 text-align: center;
 line-height: 14px;
 letter-spacing: 1px;
 text-decoration: none;
 box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
 cursor: pointer;
/*border-radius: 50px;*/
 -webkit-tap-highlight-color: transparent;
 border-radius: 5px;
}

*[data-animation="ripple"]:focus {
 outline: none;
}

*[data-animation="ripple"]::selection {
 background: transparent;
 pointer-events: none;
}