/*======== PC ========*/

.main .inner {
  position: relative;
  height: 90vh;
  margin: 0 auto;
  background: url('/gics2021/data/img/index/bg_home.png') left top no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.shadow-filter a img:hover {
  /* -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80)); */
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
	-webkit-filter: drop-shadow(0px 0px 8rem rgb(251, 255, 0));
}


/*=== TOP ===*/
.top-entries{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 2%);
  width: 80vw;
  max-width: 135vh;
  display: table;
}

.top-entries div{
  display: table-cell;
}

.top-entries #main-flag{
  vertical-align: top;
  text-align: center;
  width: 65%;
}

#main-flag > img{
  margin-top: 2%;
  width: 85%;
}

#video {
  position: absolute;
  
  left: 64.2%;
  transform:translate(-50%, 21%);
  
  width: 22%;
  height: 38%;
  
  z-index: 5;
}

.side-flag{
  display: inline-block;
}


#left-flag, #left-flag img{
  float: left;
  width: 100%;
}

#right-flag, #right-flag > img{
  float: right;
  width: 100%;
}

.sdp-banner{
  position: absolute;
  left: 91%;
  top:30%;
  transform: translate(-50%,-50%);
  z-index: 3;
}

.sd-banner{
  position: absolute;
  left: 91%;
  top: 70%;
  transform: translate(-50%,-50%);
  z-index: 3;
}

.banner-gif{
  width: 15vw;
  max-width: 25vh;
}




.mid-entries {
  position: absolute;
  left: 50%;
  bottom: 21%;
  transform:translate(-50%, 0%);

  width: 40vw;
  max-width: 80vh;

  display: table;
}

.mid-entries > div{
  display: table-cell;
}

.mid-entries > div img{
  width: 100%;
}

.mid-entries > div:nth-child(1) img{
  width: calc(100% + .3vh);
}

.mid-entries > div:nth-child(3) img{
  margin-left: -1px;
  width: calc(100% + .1vh);
}

/*=== BOTTOM ===*/

.bottom-entries{
  position: absolute;
  left: 50%;
  top: 86%;
  transform:translate(-50%, -50%);
  width: 70vw;
  max-width: 150vh;
  text-align: center;
}

.bottom-entries *{
  vertical-align: bottom;
}
.bottom-entries > div{
  display: inline-block;
}

#main_icon{
  width: 50%;
  text-align: center;
  transform:translate(0, 25%);
}

#main_icon img{
  width: 50%;
}

.bottom-entry {
  position: relative;
  width: 15%;
}

.bottom-entry.info{
  float: left;
  width: 18%;
}

.bottom-entry.info .icon{
  position: absolute;
  left: 50%;
  transform:translate(-50%, -25%);
  width: 130%;
}

.bottom-entry.info .letter{
  position: absolute;
  left: 50%;
  
  transform: translate(-50%, 200%);
  width: 100%;
  
  z-index: 1;
}


.bottom-entry.award{
  float: right;
}

.bottom-entry.award .icon{
  position: absolute;
  left: 50%;
  transform:translate(-50%, -30%);
  width: 95%;
}

.bottom-entry.award .letter{
  position: absolute;
  left: 50%;
  
  transform: translate(-50%, 182%);
  width: 80%;
  z-index: 1;
}





/*======== MOBILE ========*/
.mobile .index-mobile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  margin: min(4vw, 4vh);
}
.container a {
  font-size: calc(1rem + min(.2vw, .2vh));
  font-weight: 700;
}

*[data-animation="ripple"] {
  height: 100%;
  width: 100%;
  display: block;
  outline: none;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(135deg, #e570e7 0%,#79f1fc 100%);
  box-sizing: border-box;
  text-align: center;
  line-height: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  /*border-radius: 50px;*/
  -webkit-tap-highlight-color: transparent;
  border-radius: 5px;
}

*[data-animation="ripple"]:focus {
  outline: none;
}

*[data-animation="ripple"]::selection {
  background: transparent;
  pointer-events: none;
}