.main {
  margin: 0 auto;
  height: 100vh;
  background: url('/gics2021/data/img/intro/bg.png') left top no-repeat;
  background-size: 100% 100%;
  overflow-y: hidden;
}

.inner{
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
}

.introLogo{
  text-align: center;
}

.introLogo img {
  margin: 2vh auto;
  /* width: max(10vw, 10vh); */
  width: 30vw;
  min-width: 30vh;
  max-width: 40vh;
}


.introBtn {
  text-align: center;
  margin: 1vh auto;
  width: 90vw;
}

.introBtn a {
  display: inline-block;
  margin: 1vw;
}

.introBtn img {
  width: 30vw;
  min-width: 40vh;
  max-width: 50vh;
}

.introBtn a:hover {
  top: -2rem;
  transform: translateZ(0);
  transform: translateY(-2rem);
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.15); */
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}



@media (max-width: 830px) {
  
}