.background {
  position: relative;
    min-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    background: url('/gics2021/data/img/intro/bg.png') left top no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    
}

.introBtn {
  width: 100%;
  text-align: center;
  margin: 0px auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform:translate(-50%, -50%);
}

.logo-wrapper{
  margin-bottom: 10rem;
}

.logo {
  text-align: center;
  margin: 0px auto;
  width: 20rem;
}

.introBtn a {
  display: inline-block;
  margin: 1rem;
}

.introBtn a img {
  width: 32rem;
}

.introBtn a:hover {
  top: -2rem;
  transform: translateZ(0);
  transform: translateY(-2rem);
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.15); */
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}



@media (max-width: 768px) {
  .logo-wrapper{
    margin-bottom: 1rem;
  }
  .logo {
    width: 15rem;
  }
  .background{
    background-position: center center;
    background-repeat: no-repeat;
  }
}