.content{
    display: block;
    height: 80vh;
    margin: 0 auto;
    background-size: 100% 100%;
    overflow: hidden;
    text-align: center;
    margin-top: 10vh;
}


/* button to select rank */

.bottom_button{
    display: inline-block;
    
    color: #114577;
  }
  
  .multi-button {
    border: 2px solid #114577;
    display: grid;
    width: 60vw;
    grid-template-columns: auto auto auto auto auto;
  }
  
  .multi-button div {
    background-color: white;
    padding: 1.5vh 3vw;
    font-weight: bold;
    font-size: 1vw;
    color: #114577;
  }
  

  .multi-button div:hover{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: rgb(207, 207, 24);
  }

  
  
  .active {
    background-color: #114577 !important;
    color: whitesmoke !important;
  }


  .video{
    display: inline-block;
    margin-top: 6vh;
  }

  #video{
    width: 60vw;
    height: 60vh;
  }