.content{
    display: block;
    height: 83vh;
    margin: 0 auto;
    background-size: 100% 100%;
    overflow: hidden;
    text-align: center;
    margin-top: 7vh;
}


/* button to select rank */
/* 
.bottom_button{
    display: inline-block;
    margin-left:4vw;
    margin-right:4vw;
    color: #114577;
    text-align: center;
    width: 64vw;
    
  }
  
  .multi-button {
    text-align: center;
    max-width: 79vh;
    border: 2px solid #114577;
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto auto;
  }
  
  .multi-button div {
    padding: 1rem 0.4rem;
    background-color: white;
    font-weight: bold;
    font-size: calc(0.5rem + min(0.85vw,0.85vh));
    color: #114577;
  }
  
  

  .multi-button div:hover{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: rgb(207, 207, 24);
  }

  
  
  .active {
    background-color: #114577 !important;
    color: whitesmoke !important;
  } */

  .bottom_button{
    display: inline-block;
    margin-left:4vw;
    margin-right:4vw;
    color: #114577;
    text-align: center;
    max-width: 79vh;
  }
  
  .multi-button {
    border: 2px solid #114577;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    /* align-items: center; */
  }
  
  .multi-button div {
    font-weight: bold;
    font-size: calc(0.5rem + min(0.85vw,0.85vh));
    color: #114577;
    /* vertical-align: middle; */
  }
  

  .multi-button div:hover{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: rgb(207, 207, 24);
  }

  
  
  .active {
    background-color: #114577 !important;
    color: whitesmoke !important;
  }


  .video{
    display: block;
    margin-top: 6vh;
    margin-left: 4vw;
    margin-right: 4vw;
    text-align: center;
  }
  
  #video{
    max-width: 79vh;
    width: 100%;
    height: 50vh;
  }

  
@media screen and (max-width: 830px) and (min-width: 0) {
  .multi-button div{
    padding: 0;
  }
}