.main .inner {
    position: relative;
    height: 90vh;
    /* width: 100vw; */
    margin: 0 auto;
    background: url('/gics2021/data/img/exhibition/rank_bg.png') left top no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.company a{
  display: inline-block;
}
.company a:hover {
  top: -15px;
  transform: translateZ(0);
  transform: translateY(-15px);
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.15); */
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.company {
  display: grid;
  position: absolute;
  width: auto;
  list-style: none;
  justify-self: end;
  transform:translate(-50%, -50%);
}


.item a:hover {
  top: -2rem;
  transform: translateZ(0);
  transform: translateY(-1rem);
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.15); */
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.company img{
  margin-left: max(-3vw, -3vh);
  margin-right: max(-3vw, -3vh);
}


.sdp {
  /* top: 65%; */
  bottom: 14%;
  left: 50%;
  transform:translate(-40%, 0%);
  grid-template-columns: repeat(2,1fr);
  z-index: 4;
}
.sdp img{
  width: 40vw;
  max-width: 60vh;
}

.sd_1 {
  bottom: 52%;
  left: 50%;
  transform:translate(-45%, 0%);
  grid-template-columns: repeat(5,1fr);
  z-index: 3;
}
.sd_1 img{
  width: 20vw;
  max-width: 40vh;
}

.sd_2 {
  bottom: 17%;
  left: 50%;
  transform:translate(-47%, 0%);
  grid-template-columns: repeat(6,1fr);
  z-index: 2;
}
.sd_2 img{
  width: 20vw;
  max-width: 40vh;
}

.d_1 {
  bottom: 52%;
  left: 50%;
  transform:translate(-40%, 0%);
  grid-template-columns: repeat(2,1fr);
  z-index: 1;
}
.d_1 img{
  width: 40vw;
  max-width: 50vh;
}

.d_2 {
  bottom: 17%;
  left: 50%;
  transform:translate(-40%, 0%);
  grid-template-columns: repeat(2,1fr);
  z-index: 1;
}
.d_2 img{
  width: 40vw;
  max-width: 50vh;
}

.p {
  bottom: 14%;
  left: 50%;
  transform:translate(-40%, 0%);
  grid-template-columns: repeat(2,1fr);
  z-index: 0;
}
.p img{
  width: 40vw;
  max-width: 60vh;
}





.logo-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
  text-align: center;
  width: 80vw;
  max-width: 130vh;
}

.logo-img{
  width: 100%;
}

  .bottom_button{
    position: absolute;
    left: 50%;
    bottom: 4%;
    display: inline-block;
    color: #114577;
    transform:translate(-50%, 0%);
    text-align: center;
  }
  
  .multi-button {
    border: 3px solid #114577;
    display: grid;
    width: 80vw;
    grid-template-columns: auto auto auto auto auto;
  }
  
  .multi-button div {
    background-color: white;
    font-weight: bold;
    font-size: 1.1vw;
    color: #114577;
  }
  
  
  .multi-button div:hover{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: #d2deec;
  }
  .multi-button a{
    padding: 1.5vh;
    display: block;
  }
  
  
  .active {
    background-color: #114577 !important;
    color: whitesmoke !important;
  }
  