.main-content{
    display: block;
    margin-top: 10vh;
    text-align: center;
}

.content{
    display: inline-block;
    text-align: left;
}
.title{
    display: block;
    font-size: 2rem;
    font-weight: 900;
    line-height: 4rem;
}
.title *{
    vertical-align: middle;
}
.title img{
    margin-right: 10px;
}

.content-img{
    margin-bottom: 7vh;
}